<header class="whole-nav">
  <h1>Welcome To Projects Page</h1>
  <div class="navigation-bar">
    <nav>
      <ul>
        <li class="list-1"><a class="anchor" href="/">Home</a></li>
        <li><a class="anchor" href="/users">Users</a></li>
        <li><a class="anchor" href="/projects/all">All Projects</a></li>
        <li><a class="anchor" href="/users/new">Add Users</a></li>
        <li><a class="anchor" href="/projects/new">Add Project</a></li>
      </ul>
    </nav>
  </div>
</header>