
<div class="edit-container">
  <div class="edit-inner-container">
    <h2>Add user</h2>
    <form action="/users" method="post">
      <%- include("_form_fields.ejs") %>
      <%- include("../partials/validations.ejs") %>
      <div class="update-cancel-container">
        <a class="edit-button cancel" href="/users">Cancel</a>
        <button class="submit-btn" type="submit">Create</button>
      </div>
    </form>
  </div>
</div>